* text=auto
/examples/          export-ignore
/nginx/             export-ignore
/php-fpm/           export-ignore
/phpstan/           export-ignore
/tests/             export-ignore
docker-compose.yml  export-ignore
.*                  export-ignore
*.dist              export-ignore
