includes:
    - phpstan/include-by-php-version.php

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to method Redis::[a-zA-Z0-9_]+\(\) with incorrect case: [a-zA-Z0-9_]+#'