<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnError="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/Prometheus</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/Test/Prometheus</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>Performance</group>
    </exclude>
  </groups>
</phpunit>
