parameters:
    ignoreErrors:
        -
            message: "#^Strict comparison using === between non\\-empty\\-array\\<int, string\\> and false will always evaluate to false\\.$#"
            count: 1
            path: ../src/Prometheus/Storage/RedisNg.php
