name: Code Checks

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest

    name: Code Checks
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-code-checks

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-suggest
      - name: Run PHP Code Sniffer
        run: ./vendor/bin/phpcs

  phpstan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
    name: PHPStan on PHP ${{ matrix.php }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-code-checks

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: "cs2pr"

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-suggest
      - name: Run PHPStan
        run: "vendor/bin/phpstan analyse --autoload-file tests/bootstrap.php --error-format=checkstyle | cs2pr"
